In [1]:
import sys

sys.path.append("../")

import pandas as pd
import penaltyblog as pb

### Get the current active gameweek number

In [2]:
current_gameweek = pb.fpl.get_current_gameweek()
current_gameweek

31

### Get the weekly events

This contains information on who the most captainied player was for each week week, what chips were played, what the highest score was etc

In [3]:
info = pb.fpl.get_gameweek_info()
info.query("average_entry_score > 0")

,id,name,deadline_time,average_entry_score,finished,data_checked,highest_scoring_entry,deadline_time_epoch,deadline_time_game_offset,highest_score,...,cup_leagues_created,h2h_ko_matches_created,chip_plays,most_selected,most_transferred_in,top_element,top_element_info,transfers_made,most_captained,most_vice_captained
0,1,Gameweek 1,2021-08-13 17:30:00+00:00,69,True,True,5059647.0,1628875800,0,150.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 145658}...",275.0,1.0,277.0,"{'id': 277, 'points': 20}",0,233.0,277.0
1,2,Gameweek 2,2021-08-21 10:00:00+00:00,56,True,True,6882931.0,1629540000,0,146.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 95038},...",277.0,272.0,142.0,"{'id': 142, 'points': 18}",12038724,233.0,277.0
2,3,Gameweek 3,2021-08-28 10:00:00+00:00,54,True,True,7516002.0,1630144800,0,119.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 94049},...",277.0,419.0,268.0,"{'id': 268, 'points': 18}",15553648,277.0,277.0
3,4,Gameweek 4,2021-09-11 10:00:00+00:00,57,True,True,7797969.0,1631354400,0,120.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 77204},...",233.0,579.0,432.0,"{'id': 432, 'points': 13}",28985870,233.0,233.0
4,5,Gameweek 5,2021-09-17 17:30:00+00:00,55,True,True,3139954.0,1631899800,0,144.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 49533},...",233.0,579.0,44.0,"{'id': 44, 'points': 15}",18706283,233.0,579.0
5,6,Gameweek 6,2021-09-25 10:00:00+00:00,43,True,True,1367510.0,1632564000,0,117.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 76495},...",233.0,413.0,36.0,"{'id': 36, 'points': 15}",13021763,579.0,233.0
6,7,Gameweek 7,2021-10-02 10:00:00+00:00,38,True,True,8298401.0,1633168800,0,102.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 58931},...",233.0,127.0,190.0,"{'id': 190, 'points': 15}",12625013,579.0,233.0
7,8,Gameweek 8,2021-10-16 10:00:00+00:00,49,True,True,8392863.0,1634378400,0,122.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 54764},...",233.0,256.0,228.0,"{'id': 228, 'points': 20}",12142633,233.0,579.0
8,9,Gameweek 9,2021-10-22 17:30:00+00:00,64,True,True,8103512.0,1634923800,0,165.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 46614},...",233.0,205.0,138.0,"{'id': 138, 'points': 24}",11147906,233.0,233.0
9,10,Gameweek 10,2021-10-30 10:00:00+00:00,42,True,True,8257657.0,1635588000,0,116.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 50931},...",233.0,138.0,142.0,"{'id': 142, 'points': 21}",12690241,233.0,205.0
10,11,Gameweek 11,2021-11-05 18:30:00+00:00,42,True,True,282096.0,1636137000,0,116.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 68950},...",233.0,142.0,256.0,"{'id': 256, 'points': 14}",9011081,233.0,579.0
11,12,Gameweek 12,2021-11-20 11:00:00+00:00,57,True,True,8483204.0,1637406000,0,135.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 54467},...",233.0,144.0,38.0,"{'id': 38, 'points': 15}",9746013,233.0,233.0
12,13,Gameweek 13,2021-11-27 11:00:00+00:00,44,True,True,5696552.0,1638010800,0,132.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 56266},...",233.0,142.0,212.0,"{'id': 212, 'points': 16}",9284925,233.0,579.0
13,14,Gameweek 14,2021-11-30 18:00:00+00:00,58,True,True,2433836.0,1638295200,0,126.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 30119},...",233.0,240.0,233.0,"{'id': 233, 'points': 15}",6239197,233.0,233.0
14,15,Gameweek 15,2021-12-04 11:00:00+00:00,43,True,True,1224173.0,1638615600,0,114.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 42048},...",233.0,450.0,45.0,"{'id': 45, 'points': 17}",7556146,233.0,579.0
15,16,Gameweek 16,2021-12-10 18:30:00+00:00,55,True,True,6881091.0,1639161000,0,128.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 31385},...",233.0,261.0,210.0,"{'id': 210, 'points': 16}",10664848,233.0,579.0
16,17,Gameweek 17,2021-12-14 18:15:00+00:00,45,True,True,8741274.0,1639505700,0,127.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 27449},...",233.0,450.0,251.0,"{'id': 251, 'points': 16}",8595948,233.0,261.0
17,18,Gameweek 18,2021-12-18 16:00:00+00:00,39,True,True,1848785.0,1639843200,0,121.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 11265},...",233.0,40.0,256.0,"{'id': 256, 'points': 18}",12347450,233.0,233.0
18,19,Gameweek 19,2021-12-26 13:30:00+00:00,36,True,True,345569.0,1640525400,0,119.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 23155},...",233.0,26.0,362.0,"{'id': 362, 'points': 17}",15207961,233.0,579.0
19,20,Gameweek 20,2021-12-28 13:30:00+00:00,37,True,True,4157378.0,1640698200,0,105.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 8301}, ...",233.0,413.0,200.0,"{'id': 200, 'points': 15}",8682576,233.0,579.0
20,21,Gameweek 21,2022-01-01 11:00:00+00:00,46,True,True,542969.0,1641034800,0,129.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 29973},...",233.0,420.0,420.0,"{'id': 420, 'points': 21}",13412732,233.0,233.0
21,22,Gameweek 22,2022-01-14 18:30:00+00:00,51,True,True,3532161.0,1642185000,0,145.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 57393},...",237.0,240.0,277.0,"{'id': 277, 'points': 23}",23424094,233.0,579.0
22,23,Gameweek 23,2022-01-21 18:30:00+00:00,35,True,True,7969316.0,1642789800,0,107.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 56752},...",237.0,681.0,112.0,"{'id': 112, 'points': 19}",12666677,233.0,579.0
23,24,Gameweek 24,2022-02-08 18:15:00+00:00,50,True,True,563811.0,1644344100,0,136.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 35256},...",237.0,586.0,681.0,"{'id': 681, 'points': 16}",8710540,233.0,240.0
24,25,Gameweek 25,2022-02-12 11:00:00+00:00,47,True,True,1032188.0,1644663600,0,125.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 22431},...",237.0,681.0,255.0,"{'id': 255, 'points': 18}",8374086,233.0,240.0
25,26,Gameweek 26,2022-02-19 11:00:00+00:00,84,True,True,3861456.0,1645268400,0,212.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 239806}...",233.0,233.0,233.0,"{'id': 233, 'points': 28}",14147393,233.0,237.0
26,27,Gameweek 27,2022-02-25 18:30:00+00:00,40,True,True,175965.0,1645813800,0,107.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 12063},...",233.0,700.0,360.0,"{'id': 360, 'points': 18}",14541835,233.0,579.0
27,28,Gameweek 28,2022-03-05 11:00:00+00:00,68,True,True,9024690.0,1646478000,0,214.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 245918}...",233.0,127.0,44.0,"{'id': 44, 'points': 29}",12705647,233.0,233.0
28,29,Gameweek 29,2022-03-12 11:00:00+00:00,72,True,True,1582027.0,1647082800,0,156.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 147057}...",233.0,22.0,224.0,"{'id': 224, 'points': 19}",11296334,233.0,233.0
29,30,Gameweek 30,2022-03-18 18:30:00+00:00,28,True,True,8948125.0,1647628200,0,106.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 10295},...",233.0,78.0,359.0,"{'id': 359, 'points': 15}",15679493,233.0,359.0
30,31,Gameweek 31,2022-04-02 10:00:00+00:00,35,False,False,381598.0,1648893600,0,111.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 55086},...",233.0,700.0,84.0,"{'id': 84, 'points': 15}",6472321,233.0,357.0

### Get Player Name to ID mappings

In [4]:
mappings = pb.fpl.get_player_id_mappings()
mappings

          first_name      second_name    web_name   id
0              Bernd             Leno        Leno    1
1         Rúnar Alex        Rúnarsson   Rúnarsson    2
2            Willian  Borges Da Silva     Willian    3
3     Pierre-Emerick       Aubameyang  Aubameyang    4
4             Cédric           Soares      Cédric    5
..               ...              ...         ...  ...
713      Bruno André    Cavaco Jordão      Jordão  661
714     Toti António            Gomes        Toti  685
715             Dion        Sanderson   Sanderson  686
716             Ryan            Giles       Giles  687
717  Francisco Jorge   Tomás Oliveira   Chiquinho  689

[718 rows x 4 columns]

### Get the player data

This contains information on each player, e.g. total score, total minutes played, form, current price etc

In [5]:
players = pb.fpl.get_player_data()
players.head()

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text,position,position_short,team_id,team_name,team_name_short
0,100.0,100.0,80201,0,0,-5,5,1,1,1.7,...,,NaN,,NaN,,Goalkeeper,GKP,1,Arsenal,ARS
1,0.0,0.0,115918,0,0,0,0,0,1,0.0,...,,NaN,,NaN,,Goalkeeper,GKP,1,Arsenal,ARS
2,0.0,0.0,463748,0,0,0,0,0,1,0.0,...,,NaN,,NaN,,Goalkeeper,GKP,1,Arsenal,ARS
3,50.0,50.0,225321,0,0,6,-6,3,1,1.4,...,,NaN,,NaN,,Goalkeeper,GKP,1,Arsenal,ARS
4,NaN,NaN,220682,0,0,-1,1,0,1,0.5,...,,NaN,,NaN,,Goalkeeper,GKP,1,Arsenal,ARS

#### Let's extract the data for Bruno Fernandes from the data frame

Note - Bruno Fernandes has the ID of 277

In [6]:
players.query("id == 277").iloc[0].to_dict()

{'chance_of_playing_next_round': 100.0,
 'chance_of_playing_this_round': 100.0,
 'code': 141746,
 'cost_change_event': 0,
 'cost_change_event_fall': 0,
 'cost_change_start': -4,
 'cost_change_start_fall': 4,
 'dreamteam_count': 2,
 'element_type': 3,
 'ep_next': '3.3',
 'ep_this': '2.8',
 'event_points': 5,
 'first_name': 'Bruno Miguel',
 'form': 2.3,
 'id': 277,
 'in_dreamteam': False,
 'news': '',
 'news_added': '2022-02-05T10:00:10.258202Z',
 'now_cost': 11.6,
 'photo': '141746.jpg',
 'points_per_game': 4.8,
 'second_name': 'Borges Fernandes',
 'selected_by_percent': 14.8,
 'special': False,
 'squad_number': None,
 'status': 'a',
 'team_code': 1,
 'total_points': 134,
 'transfers_in': 2423933,
 'transfers_in_event': 6594,
 'transfers_out': 5274452,
 'transfers_out_event': 2978,
 'value_form': 0.2,
 'value_season': 11.6,
 'web_name': 'Fernandes',
 'minutes': 2397,
 'goals_scored': 9,
 'assists': 7,
 'clean_sheets': 7,
 'goals_conceded': 38,
 'own_goals': 0,
 'penalties_saved': 0,
 'penalties_missed': 1,
 'yellow_cards': 7,
 'red_cards': 0,
 'saves': 0,
 'bonus': 15,
 'bps': 518,
 'influence': 758.0,
 'creativity': 1090.7,
 'threat': 703.0,
 'ict_index': 255.5,
 'influence_rank': 7,
 'influence_rank_type': 3,
 'creativity_rank': 2,
 'creativity_rank_type': 1,
 'threat_rank': 27,
 'threat_rank_type': 16,
 'ict_index_rank': 4,
 'ict_index_rank_type': 3,
 'corners_and_indirect_freekicks_order': 1.0,
 'corners_and_indirect_freekicks_text': '',
 'direct_freekicks_order': 2.0,
 'direct_freekicks_text': '',
 'penalties_order': 2.0,
 'penalties_text': '',
 'position': 'Midfielder',
 'position_short': 'MID',
 'team_id': 13,
 'team_name': 'Man Utd',
 'team_name_short': 'MUN'}

#### Let's extract some data about the goalkeepers

In [7]:
players.query("position_short == 'GKP'")[
    ["id", "first_name", "second_name", "position", "total_points", "minutes"]
].sort_values("total_points", ascending=False)

      id first_name        second_name    position  total_points  minutes
363  231    Alisson      Ramses Becker  Goalkeeper           144     2520
683  475       José     Malheiro de Sá  Goalkeeper           134     2790
399  257    Ederson  Santana de Moraes  Goalkeeper           129     2610
3    559      Aaron           Ramsdale  Goalkeeper           117     2160
566  353       Hugo             Lloris  Goalkeeper           116     2700
..   ...        ...                ...         ...           ...      ...
120   65     Mathew               Ryan  Goalkeeper             0        0
433  280       Dean          Henderson  Goalkeeper             0        0
434  509        Tom             Heaton  Goalkeeper             0        0
161  708        Sam             Waller  Goalkeeper             0        0
685  621      James             Storer  Goalkeeper             0        0

[83 rows x 6 columns]

### Get Bruno Fernandes' history by week for current season

Note - Bruno Fernandes has the ID of 277

In [8]:
history = pb.fpl.get_player_history(277)
history

,element,fixture,opponent_team,total_points,was_home,kickoff_time,team_h_score,team_a_score,round,minutes,...,bps,influence,creativity,threat,ict_index,value,transfers_balance,selected,transfers_in,transfers_out
0,277,6,10,20,True,2021-08-14 11:30:00+00:00,5,1,1,90,...,61,106.2,35.9,59.0,20.1,12.0,0,3381004,0,0
1,277,19,16,1,False,2021-08-22 13:00:00+00:00,1,1,2,90,...,7,12.4,30.2,29.0,7.2,12.1,414059,4305673,436157,22098
2,277,30,20,2,False,2021-08-29 15:30:00+00:00,0,1,3,90,...,4,6.4,25.8,23.0,5.5,12.1,-3080,4391403,149207,152287
3,277,38,14,8,True,2021-09-11 14:00:00+00:00,4,1,4,84,...,33,36.8,33.8,29.0,10.0,12.0,-1126140,3298340,100656,1226796
4,277,49,19,2,False,2021-09-19 13:00:00+00:00,1,2,5,90,...,17,18.0,48.8,38.0,10.5,12.0,-552801,2797372,55156,607957
5,277,58,2,0,True,2021-09-25 11:30:00+00:00,0,1,6,90,...,13,27.6,136.2,43.0,20.7,11.9,-309231,2516238,38980,348211
6,277,67,8,5,True,2021-10-02 11:30:00+00:00,1,1,7,90,...,19,22.4,36.2,8.0,6.7,11.9,-282453,2247981,28309,310762
7,277,75,9,5,False,2021-10-16 14:00:00+00:00,4,2,8,90,...,24,39.0,104.0,11.0,15.4,11.8,-182100,2078240,24555,206655
8,277,88,11,1,True,2021-10-24 15:30:00+00:00,0,5,9,61,...,13,7.4,32.4,4.0,4.4,11.8,-193052,1885663,12297,205349
9,277,98,17,6,False,2021-10-30 16:30:00+00:00,0,3,10,75,...,25,33.6,38.9,4.0,7.7,11.7,-239751,1649817,10714,250465
10,277,108,12,2,True,2021-11-06 12:30:00+00:00,0,2,11,90,...,8,13.8,2.1,8.0,2.4,11.7,-30695,1633500,26509,57204
11,277,119,18,2,False,2021-11-20 15:00:00+00:00,4,1,12,90,...,13,9.8,16.8,5.0,3.2,11.7,-47341,1592480,29779,77120
12,277,125,6,1,False,2021-11-28 16:30:00+00:00,1,1,13,88,...,2,4.0,4.6,1.0,1.0,11.6,-107521,1484449,6100,113621
13,277,134,1,9,True,2021-12-02 20:15:00+00:00,3,2,14,89,...,35,48.4,48.7,37.0,13.4,11.6,-46112,1442444,5948,52060
14,277,144,7,3,True,2021-12-05 14:00:00+00:00,1,0,15,85,...,3,7.6,33.5,26.0,6.7,11.6,-7057,1439355,22674,29731
15,277,160,15,3,False,2021-12-11 17:30:00+00:00,0,1,16,87,...,6,5.0,16.0,6.0,2.7,11.6,4187,1449621,41802,37615
16,277,186,14,1,False,2021-12-27 20:00:00+00:00,1,1,19,90,...,10,11.6,28.5,2.0,4.2,11.6,57567,1425591,79314,21747
17,277,198,5,0,True,2021-12-30 20:15:00+00:00,3,1,20,0,...,0,0.0,0.0,0.0,0.0,11.6,-69350,1277507,2142,71492
18,277,208,20,1,True,2022-01-03 17:30:00+00:00,0,1,21,30,...,0,6.8,16.3,11.0,3.4,11.6,-37502,1262755,6897,44399
19,277,211,2,14,False,2022-01-15 17:30:00+00:00,2,2,22,88,...,47,82.0,16.8,26.0,12.5,11.6,275401,1735835,317426,42025
20,277,162,3,9,False,2022-01-19 20:00:00+00:00,1,3,22,90,...,30,54.2,57.3,25.0,13.7,11.6,275401,1735835,317426,42025
21,277,228,19,3,True,2022-01-22 15:00:00+00:00,1,0,23,90,...,12,9.8,45.3,7.0,6.2,11.7,285654,1840063,313634,27980
22,277,233,5,2,False,2022-02-08 20:00:00+00:00,1,1,24,90,...,20,27.2,86.5,53.0,16.7,11.7,-21174,1805775,132610,153784
23,277,246,16,2,True,2022-02-12 12:30:00+00:00,1,1,25,90,...,13,13.8,27.1,8.0,4.9,11.7,279682,2116608,349951,70269
24,277,174,4,10,True,2022-02-15 20:15:00+00:00,2,0,25,90,...,38,59.6,71.2,65.0,19.6,11.7,279682,2116608,349951,70269
25,277,255,10,12,False,2022-02-20 14:00:00+00:00,2,4,26,90,...,35,60.8,23.5,32.0,11.6,11.7,-432694,1581073,20436,453130
26,277,268,18,3,True,2022-02-26 15:00:00+00:00,0,0,27,90,...,10,15.4,41.1,80.0,13.7,11.7,135480,2081723,167281,31801
27,277,275,12,2,False,2022-03-06 16:30:00+00:00,4,1,28,90,...,-1,0.2,12.0,14.0,2.6,11.7,-281663,1492693,6678,288341
28,277,288,17,0,True,2022-03-12 17:30:00+00:00,3,2,29,0,...,0,0.0,0.0,0.0,0.0,11.6,-138849,1377685,5234,144083
29,277,307,9,5,True,2022-04-02 16:30:00+00:00,1,1,31,90,...,21,18.2,21.2,49.0,8.8,11.6,-10571,1337171,12775,23346

### Fetch the current top 50 ranked FPL teams

In [9]:
pb.fpl.get_rankings(1)

,id,event_total,player_name,rank,last_rank,rank_sort,total,entry,entry_name
0,519,49,Håkon Mangersnes,1,3,1,2269,131,Excel XI
1,17249815,44,Anders Dugstad,2,1,2,2260,2903808,Oles Brummser
2,402595,36,Joacim Lengroth,3,2,3,2258,77967,Artisterna
3,1340870,51,Johan Larsson,4,8,4,2257,252965,Barnarp Strippers
4,5790134,41,Christopher Post,5,6,5,2255,1080063,Hotel? Thiago
5,4555632,39,Vladimir Pleskic,6,4,6,2254,854921,Chupotero
6,4675623,38,Hendrik Mattsson,7,5,7,2252,877419,Lanista Primus
7,5918935,38,Olle Hultqvist,8,7,8,2251,1102284,FC Uffe Löken
8,31141670,51,Joshua Meszar,9,12,9,2251,4634245,Mighty Moose
9,51146,52,Srecko Kurtovic,10,13,10,2251,10397,Forza Velež
10,5951093,46,James kelly,11,9,11,2250,1108174,Marley FC
11,1872400,45,Tiago Matos,12,10,12,2248,352612,Amora FC
12,22605430,48,Ole Knutsen,13,18,13,2243,3509874,XIXI
13,6216936,53,Dan Sharples,14,23,14,2243,1154608,Mallorca Town FC
14,1096387,55,Bino Baby,15,30,15,2243,207377,Tai Lung
15,9729356,55,Alex Abel,16,36,16,2241,1750591,westhamabel
16,607095,52,Ben Ruffles,17,28,17,2240,116527,@Mad4FPL
17,230524,51,Ahmed Ayub,18,27,18,2240,44897,Gemz
18,849190,48,Bjørn Helge Søvde,19,22,19,2239,163106,Underdogs
19,369071,50,Tor Ulvin,20,24,20,2239,71665,Nossum Billionaires
20,39764931,53,Sebastian Ogrodowicz,21,40,21,2238,5718159,The Citizens
21,2331135,40,Johan Jansson,22,15,22,2238,437680,JanneJr
22,192382,39,Cristian-Anton Fiță,23,14,23,2237,37470,Taurii Asasini
23,1336363,42,Nabil Halik,24,20,24,2236,252064,Not here Toulouse
24,10332,53,Obay Eid,25,44,25,2236,2420,{FPL_Milanista}
25,26907819,47,Filemon Dettori,26,17,26,2236,4077661,de Bruyne suiker
26,339278,46,Marko Vilotic,27,25,27,2235,65915,Big Semčina
27,639507,53,Jon Corke,27,46,28,2235,122675,‘Insert pun here’ FC
28,464460,51,Łukasz Komorowski,29,29,29,2235,89292,AndSolskjaerHasWonIt
29,3152760,40,Steven Eales,30,19,30,2235,595223,Django’s Riff
30,646919,38,Noah Åberg,31,11,31,2235,123863,Flunkyguys
31,1244711,49,Alex Rapala,32,38,32,2234,234586,Gangster's Allardyce
32,212400,49,ha fiz,33,42,33,2233,41410,BABA YAGA
33,3548323,47,Sebastião Faria,34,33,34,2233,667853,Lord Puccini
34,30404199,46,Jeffrey Kingington,35,35,35,2232,4537756,JPD
35,2546333,49,Ivan Zirdum,36,47,36,2231,479678,Zikaci
36,11114759,54,Will Slobom,37,52,37,2230,1974199,Guns 'n' Moses
37,3593785,37,James Angelopoulos,38,16,38,2230,676352,Change Name
38,181040,45,Pranto Protim Paul,39,41,39,2230,35434,Captain Blank XI
39,13217506,65,Anurang Hariharan,40,106,40,2228,2308423,Varanda Varane
40,1492416,50,Joe Sherman,41,60,41,2228,282146,The Sherminators
41,33957,63,Reuben Jeeva,42,133,42,2227,7254,Reuben Kazan FC
42,68295,33,Jack Moloney,43,21,43,2227,13509,Kanye West Ham
43,23553601,50,Kristoffer Salin,43,64,44,2227,3635109,Samba salle fc
44,4847991,52,Neil Harrison,45,70,45,2227,909760,Aardvark Armoury
45,2241494,42,Brett Taylor,46,42,46,2226,420377,I Love Lamp!tey
46,33544881,61,Vikas Pai,46,123,47,2226,4939262,.::AllGunzBlazin::.
47,12344851,41,David Ougden,48,37,48,2226,2171737,Licence Tuchel
48,54561,37,Daniel Marston,49,26,49,2226,10970,Marston's Marvels
49,50671,45,Tess Oklin,50,54,50,2225,10322,Mjær & Kæhle FC

### Fetch the FPL teams ranked 51-100

In [10]:
pb.fpl.get_rankings(2)

,id,event_total,player_name,rank,last_rank,rank_sort,total,entry,entry_name
0,18768,43,Jaydin Petersen,51,50,51,2224,4152,Penandes and Co.
1,18965774,46,Mike Lihou,52,48,52,2224,3027096,Toneys & I @FPLihou
2,1579483,47,Troy Hope,53,65,53,2223,298337,Lucky Prophet
3,37253,50,Eslam Taha,54,77,54,2223,7841,أحفاد تاج الدين
4,8742037,48,Henry Middleton,55,59,55,2222,1584653,On Zidance Floor
5,14508842,47,Josh Boulton,56,56,56,2222,2508050,Shawberto Carlos
6,25888117,60,Niall Crosbie,57,140,57,2221,3946131,FC Shorts
7,3722419,51,Dave Riordan,58,92,58,2221,700118,Riordo
8,425174,59,Niall O'Connor,59,116,59,2221,81877,Leatherygents
9,1638595,42,Partha Dey,60,55,60,2221,309378,Nandi’s Band
10,501187,40,Sam McHaffie,61,51,61,2220,96354,Samtiago Muñez
11,3036889,46,Tiger Rattigan,62,71,62,2220,572793,Template FC
12,16725736,47,James Coe,63,79,63,2220,2838122,BRRUUNNNOOOOOOOOO #1
13,1446112,47,Syed Areef Hossain,64,80,64,2219,273522,Old Havertz Kai Hard
14,6461050,47,Mattias Järnström,65,66,65,2219,1197435,FC Pep Talk
15,27671,47,Stevie Jackson,65,83,66,2219,5924,Bilbao Baggins
16,93029,47,Nikos Papagiannopoulos,67,85,67,2219,18338,Επιστήμων
17,35922084,45,Michelle Murray,68,74,68,2219,5236229,Legs XI
18,1829478,51,Grant Semple,69,105,69,2218,344405,Bentekeet Up Dias FC
19,141859,49,Finn Sollie,70,78,70,2218,27842,Finncastle
20,4859928,42,Juan Rodriguez,71,68,71,2218,912104,Catañuela
21,590902,53,Chris Turner,72,134,72,2217,113314,The Brothers Grimsby
22,1140612,28,Pragyat Futela,73,31,73,2216,215876,Gotta Ziyech Em All
23,4920,37,Chris Law,74,58,74,2216,1233,Mcginn and tonic
24,461706,48,Milton Silva,74,104,75,2216,88753,F.C. Coimbra
25,1415233,42,Alex Stuart,76,76,76,2215,267565,Sizzling Stuart
26,23380,53,Ally Christodoulou,77,136,77,2215,5041,No Woman No Kai
27,1319502,44,Aleksander kåsene,78,90,78,2215,248779,Balotelli-Tubbies
28,1549875,56,Florian Pham,79,156,79,2214,292859,FC Brillis
29,93927,46,Jens Petter Nebo,80,98,80,2214,18519,Felles bekjente
30,48605,50,Harry Olden,80,96,81,2214,9934,Golden Oldens
31,8820083,49,Adam Hansson,82,125,82,2214,1598530,SummerShark
32,1919351,56,Darren Durkan,83,163,83,2214,360722,Barndoor Bamfords 11
33,14697868,43,Vishal Patel,83,89,84,2214,2533696,Vee
34,1638139,40,Alexandre Antonietti,85,73,85,2214,309286,Dunk In The Nuts
35,1331566,47,Amaar Mohammed,86,110,86,2214,251105,Klopps and Robbos
36,26383149,51,Łukasz Buchała,87,113,87,2214,4009029,Ja_MmmMmChyBaTY
37,6826859,31,Mik Bjerre Handberg,88,45,88,2213,1260732,The Digital Advisory
38,168115,56,Ahmed Fakhry,89,121,89,2213,33035,روحوا ناموا بتحلموا
39,116051,36,Brad Currie,90,49,90,2213,22693,Pfizer chiefs
40,18994,28,Bogdan Vasile,91,39,91,2213,4201,United Of Chorley
41,2050,57,Oisin Kirwan,91,180,92,2213,524,The Special Juan
42,1300305,35,Joakim Winter,93,61,93,2212,245112,Silverfang FC
43,8646909,43,Ulrik Gjersoe,93,94,94,2212,1568849,F.C Strikken
44,37175468,54,Mohsin Dawood,95,160,95,2212,5400878,FC Mo57n
45,14383,32,Louis Karten-Ceccarelli,96,53,96,2212,3226,False Image FC
46,12720,50,Johannes Lehikoinen,96,138,97,2212,2900,JoSe's
47,35003996,57,Ege Eryilmaz,98,193,98,2212,5118938,ka-fa1500
48,6859,33,Dan Hill,99,32,99,2212,1720,Better Call Raúl
49,3132107,49,Ben Fowler,100,110,100,2212,591098,Zinchenko SZN

### Fetch a team's player picks by gameweek

In [11]:
pb.fpl.get_entry_picks_by_gameweek(1000, 3)

{'team_id': 1000,
 'active_chip': 'wildcard',
 'event': 3,
 'points': 57,
 'total_points': 237,
 'rank': 3256264,
 'rank_sort': 3256267,
 'overall_rank': 325169,
 'value': 100.7,
 'bank': 0.1,
 'event_transfers': 0,
 'event_transfers_cost': 0.0,
 'points_on_bench': 3,
 'auto_sub_1': None,
 'auto_sub_2': None,
 'auto_sub_3': None,
 'auto_sub_4': None,
 'player_pick_0': 69,
 'player_pick_1': 207,
 'player_pick_2': 237,
 'player_pick_3': 208,
 'player_pick_4': 359,
 'player_pick_5': 419,
 'player_pick_6': 196,
 'player_pick_7': 33,
 'player_pick_8': 357,
 'player_pick_9': 413,
 'player_pick_10': 205,
 'player_pick_11': 448,
 'player_pick_12': 70,
 'player_pick_13': 429,
 'player_pick_14': 67,
 'captain_id': 357,
 'is_vice_captain': 205}

### Get entry's transfer history for this season

In [12]:
pb.fpl.get_entry_transfers(1000)

,player_id_in,player_in_cost,player_id_out,player_out_cost,entry,event,time
0,142,6.2,106,4.7,1000,31,2022-04-02 09:59:30.289819+00:00
1,484,5.5,51,4.7,1000,31,2022-04-01 19:32:35.981991+00:00
2,67,4.5,342,4.8,1000,30,2022-03-18 09:19:34.928704+00:00
3,357,12.3,63,6.5,1000,29,2022-03-11 17:58:22.352181+00:00
4,360,4.7,142,6.2,1000,29,2022-03-11 17:58:22.346152+00:00
...,...,...,...,...,...,...,...
105,429,4.5,275,5.5,1000,3,2021-08-27 14:22:16.073448+00:00
106,185,4.5,237,7.5,1000,3,2021-08-27 14:22:16.072943+00:00
107,419,6.1,215,7.0,1000,3,2021-08-23 22:09:52.593170+00:00
108,370,5.0,185,4.5,1000,3,2021-08-23 21:55:52.036955+00:00
109,56,4.0,62,4.5,1000,3,2021-08-22 22:34:10.833756+00:00

### Get optimal fantasy football squad for a budget of £100m

In [13]:
optimiser_results, team = pb.fpl.optimise_team(budget=100)

optimiser_results

{'status': 'Optimal', 'total_points': 2106.0, 'total_price': 99.9}

In [14]:
team

,id,full_name,team,position,price,total_points
0,231,Alisson Ramses Becker,LIV,GKP,6.0,144
1,475,José Malheiro de Sá,WOL,GKP,5.3,134
2,237,Trent Alexander-Arnold,LIV,DEF,8.4,187
3,256,João Pedro Cavaco Cancelo,MCI,DEF,7.0,168
4,229,Virgil van Dijk,LIV,DEF,6.8,156
5,429,Conor Coady,WOL,DEF,4.9,124
6,44,Matthew Cash,AVL,DEF,5.3,121
7,359,Heung-Min Son,TOT,MID,10.9,177
8,420,Jarrod Bowen,WHU,MID,6.8,166
9,22,Bukayo Saka,ARS,MID,6.8,138
10,261,Bernardo Mota Veiga de Carvalho e Silva,MCI,MID,7.1,132
11,144,Conor Gallagher,CRY,MID,6.1,123
12,450,Emmanuel Dennis,WAT,FWD,5.9,116
13,78,Ivan Toney,BRE,FWD,6.7,114
14,315,Teemu Pukki,NOR,FWD,5.9,106

### Get optimal fantasy football first eleven if playing 3-5-2 if spending £85m

In [15]:
optimiser_results, team = pb.fpl.optimise_team(formation="1-3-5-2", budget=85)

optimiser_results

{'status': 'Optimal', 'total_points': 1713.0, 'total_price': 85.0}

In [16]:
team

,id,full_name,team,position,price,total_points
0,475,José Malheiro de Sá,WOL,GKP,5.3,134
1,237,Trent Alexander-Arnold,LIV,DEF,8.4,187
2,256,João Pedro Cavaco Cancelo,MCI,DEF,7.0,168
3,229,Virgil van Dijk,LIV,DEF,6.8,156
4,233,Mohamed Salah,LIV,MID,13.3,225
5,359,Heung-Min Son,TOT,MID,10.9,177
6,420,Jarrod Bowen,WHU,MID,6.8,166
7,22,Bukayo Saka,ARS,MID,6.8,138
8,261,Bernardo Mota Veiga de Carvalho e Silva,MCI,MID,7.1,132
9,450,Emmanuel Dennis,WAT,FWD,5.9,116
10,78,Ivan Toney,BRE,FWD,6.7,114